@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500&display=swap");

.products-page {
  padding: 60px 40px;
  font-family: "Poppins", sans-serif;
  background: #fdfdfd;
}

.products-title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-bottom: 50px;
}

/* GRID LAYOUT */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .products-title {
    font-size: 2.2rem;
  }
  .products-page {
    padding: 40px 20px;
  }
}
